<!DOCTYPE html>
<html lang="en">
<head>
  <title>Events @ Affairal</title>
  <!-- js&  CSS -->
  <link href="{{url_for('static', filename='flatui/dist/css/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='flatui/dist/css/flat-ui.min.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='flatui/dist/js/vendor/jquery.min.js')}}" type="text/javascript"></script>
    <script  src="{{url_for('static', filename='js/angular.min.js')}}" type='text/javascript'></script>
    <script  src="{{url_for('static', filename='js/custangular.js')}}" type='text/javascript'></script>

      <script>
      //var data={{ data|safe }};
      //for (x in data){console.log(x.encode('utf8'))}


      </script>
</head>
<body>
  <!----------------------------------------- NAVBAR =------------------------------------->

    <div class="row demo-row">
          <div class="col-xs-12">
            <nav class="navbar navbar-inverse navbar-embossed" style="border-radius:0px" role="navigation">

              <div class="navbar-header">
                <a class="navbar-brand" href="#">Affairal</a>
              </div>



            </nav><!-- /navbar -->
          </div>
        </div> <!-- /row -->
<h4 align="center"> Proof of Id for registeration number: {{datas[0]._id}}</h4>
<br/><hr/>
<div align="center"><img src="{{datas[0].idfile}}" width="400" height="400"/></div>
</body></html>
